* {
   box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 150px 300px;
}

.grid :nth-child(1) { background: blue }
.grid :nth-child(2) { background: darkred }
.grid :nth-child(3) { background: green }
.grid :nth-child(4) { background: gold }


.grid1 {
  display: grid;
  grid-template-columns: 150px 300px;
  grid-template-rows: 50px 50px;
}

.grid1 :nth-child(1) { background: blue }
.grid1 :nth-child(2) { background: darkred }
.grid1 :nth-child(3) { background: green }
.grid1 :nth-child(4) { background: gold }

/*ESSTILOS PARA GRID *******************************/
.controls {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 8px 14px;
  border: none;
  background: #007b00ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Contenedor del grid */
.grid-wrapper {
  border: 3px solid #4caf50;  /* 游릴 치rea del grid */
  padding: 10px;
  background: #e8fce8;
  width: 420px;
  height: 320px;
  margin-bottom: 10px;
  position: relative;
}

/* Grid en s칤 */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-auto-rows: 60px;

  width: 100%;
  height: 100%;

  background: #d0e7ff;  /* 游릱 celdas */
  border: 2px solid #1a73e8;

  gap: 6px;

  transition: all .35s ease; /* Animaci칩n suave */
}

/* Items */
.item {
  border: 2px solid rgba(0,0,0,0.6);
  background: #ffdaa6;
  padding: 5px;
  text-align: center;
  transition: all .35s ease;
}

/* Peque침o texto explicativo */
#info {
  margin-top: 15px;
  font-size: 16px;
  padding: 10px;
  background: #fafad2;
  border-left: 4px solid #c9b300;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  border: 2px solid #1a73e8;
  gap: 6px;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
}

.contenido {
  border: 2px solid rgba(0,0,0,0.6);
  background: #ffdaa6;
}

/*FORMULARIO GRID*/
.form-formulario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);;
  grid-template-rows: auto auto;
  gap: 10px;
  border: solid 2px rgb(89, 148, 216);
  border-radius: 5px;
  padding: 20px;
}

#nombreFormulario {
  grid-column: 1 / 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ape1Formulario {
  grid-column: 2 / 4;
  grid-row: 1;
}

.vigentes {
  grid-column:  4 / 5;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.caducadas {
  grid-column:  5 / 6;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


#btnAceptar {
  grid-column:  6 / 7;
  grid-row: 1;
}

#btnCancelar {
  grid-column:  7 / 8;
  grid-row: 1;
}

#emailFormulario {
  grid-column:  1 / 4;
  grid-row: 2;
}

#telefonoFormulario {
  grid-column:  4 / 6;
  grid-row: 2;
}

.clase-input {
  width: 100%;             /* ocupan todo el ancho de su contenedor */
  height: 30px;            /* altura uniforme para todos */
  padding: 0 10px;         /* espacio interno */
  box-sizing: border-box;  /* incluye padding y borde en el tama침o total */
  font-size: 12px;         /* tama침o de texto consistente */
  border: solid 0.5px rgb(145, 145, 145);  /* borde uniforme */
  background: rgb(230, 230, 230);
  border-radius: 4px;      /* bordes ligeramente redondeados */
  outline: none;           /* elimina el borde de enfoque por defecto */
}

/*POSITION CSS*/

.a {
  width: 100px;
  height: 50px;
  position: relative;
  background: darkred;
  border: 2px solid black;
}

.b {
  width: 100px;
  height: 50px;
  position: relative;
  background: indigo;
  border: 2px solid black;

  position: relative;
  top: -25px;
  left: 25px;
}

/*POSITION ABSOLUTE*/

.contenedor-absolute {
  border: 5px solid indigo;
  width: 600px;
  height: 300px;
  margin: 20px;
}

.middle {
  border: 5px solid steelblue;
  width: 300px;
  height: 150px;
  margin: 50px;
  position: relative;
}

.elemento {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}

/*POSITION FIXED*/
.contenedor-fixed {
  font-size: 3rem;
  background: grey;
}

.element-fixed {
  background: black;
  color: white;
  font-size: 1.5rem;
  padding: 25px;
  width: 200px;
  position: fixed;
  right: 0;
  top: 0;
}