.contenedor{
    height: 250px;
    width: 250px;
    margin: auto;
    -webkit-perspective: 700;
    perspective: 700;
    box-shadow: 0px 0px 5px black;
}


.carta{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
}

.carta:hover{
    transform: rotateY(180deg);
}

.lado{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.frente{
    background-color: crimson;
}

.atras{
    background-color: #f0f0f0;
    transform: rotateY(180deg);
}

img{
    height: 100%;
    width: 100%;
}