.banner{
    width: 700px;
    height: 300px;
    border: 3px solid red;
    margin: auto;
    background-size: 100% 100%;
    /*
    animation-name: banner;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    */
    animation: banner 10s infinite;
    animation-direction: alternate;

}


@keyframes banner {
    0%, 30%{
        background-image: url(img/imagen1.jpg);
        opacity: 1;
    }       
    31%,34%{
        opacity: 0.1;
    }
    35%,65%{
        background-image: url(img/imagen2.jpg);
        opacity: 1;
    }
    66%,69%{
        opacity: 0.1;
    }
    70%,100%{
        background-image: url(img/imagen3.jpg);
        opacity: 1;
    }
}